.App {
  min-height: 100vh;  
  padding:20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #0077cb;
  margin-bottom: 3em;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex div label {
  color: #0275d8;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-bottom: 12px !important;
}

.schoolLists {
  width: 400px;
}
.standardLists {
  width: 150px;
}

.pr-12 {
  padding-right: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
